
body {
    background-color: #FFF5EE; 
}



/*.rectangles {
    width:208mm;
    height:297mm;
    border: 1px solid #000;
    background-color:#FBF7DF;
    position: relative;
}

.rectangles .china{
  background:#FBF8CB;
  border: 3px solid #000;
  border-radius: 100%;
  height: 100.451286mm;
  width: 100.451286mm;
  position: absolute;
  top: 0;
  left:0;
  
}

.rectangles .india{
  background:#FBF8CB;
  border: 3px solid #000;
  border-radius: 100%;
  height: 100.451286mm;
  width: 100.451286mm;
  position: absolute;
  top: 500;
  left:100;

}
*/